@page "/"

<MudGrid Justify="Justify.Center" Class="gap-4">
    <MudItem xs="5">
        <MudPaper Elevation="6" Class="pa-4 align-content-center justify-center mud-width-full mud-height-full">
            <div id="participant-1"></div>
        </MudPaper>
    </MudItem>
    <MudItem xs="5">
        <MudPaper Elevation="6" Class="pa-4 align-content-center justify-center mud-width-full mud-height-full">
            <div id="participant-2"></div>
        </MudPaper>
    </MudItem>
</MudGrid>